@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600&family=Press+Start+2P&display=swap"); /* BASE */

:root {
  --header-height: 3rem;

  /* Colors */
  /* Change favorite color */
  --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --primary-color: hsl(var(--hue-color), 69%, 61%); /*#576ee0*/
  --secondary-color: hsl(var(--hue-color), 57%, 53%); /*#435acb*/
  --primary-color-lighter: hsl(var(--hue-color), 92%, 85%); /*#b6c1fc*/
  --title-color: hsl(var(--hue-color), 8%, 15%); /*#232429*/
  --text-color: hsl(var(--hue-color), 8%, 45%); /*#6a6d7c*/
  --text-color-light: hsl(var(--hue-color), 8%, 65%); /*#9fa1ad*/
  --input-color: hsl(var(--hue-color), 29%, 16%); /*#9fa1ad*/
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #ffffff;
}

/* Dark theme variable color */

body.dark {
  /* HSL color mode */
  --secondary-color: hsl(var(--hue-color), 30%, 80%); /*#435acb*/
  --title-color: hsl(var(--hue-color), 8%, 95%, 1); /*#232429*/
  --text-color: hsl(var(--hue-color), 8%, 75%); /*#6a6d7c*/
  --input-color: hsl(var(--hue-color), 70%, 96%); /*#9fa1ad*/
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: var(--body-color);
  color: black;
  transition: 0.5s;
}

h1,
h2,
h3,
h4 {
  color: black;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  /* border: solid 1px red; */
}

video {
  height: 100%;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.grid {
  display: grid;
  gap: 1.5;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: var(--body-color);
}

/* CHANGE THEME */
.change-display {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 10rem;
  right: 0.5rem;
  z-index: 10000000;
  pointer-events: all;
  font-size: 1.5rem;
}

.color-wheel {
  display: block;
  width: 1.7rem;
  margin-top: 1rem;
  cursor: pointer;
  color: var(--title-color);
}

/* Button Dark/Light */
.change-theme {
  color: var(--title-color);
  margin-right: 1rem;
  cursor: pointer;
}

.change-theme:hover,
.change-theme:focus,
.color-wheel:hover,
.color-wheel:focus {
  color: var(--primary-color);
}

/* NAV */

.nav {
  max-width: 968px;
  /* height: 3rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
}

.nav__logo:hover {
  color: var(--primary-color);
}

.nav__toggle {
  font-size: 1.1rem;
  margin-right: -5rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--primary-color);
}

@media (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    padding: 2rem 1.5rem 4rem;
    border-radius: 1.5rem 1.5rem 0 0;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
  }
}

.nav__list {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  color: var(--title-color);
  font-weight: 500;
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--primary-color);
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-color);
}

.nav__close:hover {
  color: var(--secondary-color);
}

/* show menu */
.open-menu {
  bottom: 0;
}

/* HOME */

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}
.home__social-icon:hover {
  color: var(--secondary-color);
}

.home__img-container {
  width: 15rem;
  height: 15rem;
  border: solid var(--primary-color) 4px;
  border-radius: 50%;
  margin: 0 auto 2rem;
  position: relative;
}

.home__img {
  border-radius: 50%;
  width: 640px;
  height: 640px;
}

.home__heart-btn {
  position: absolute;
  bottom: -6rem;
}

.home__heart-btn .content {
  padding: 10px 13px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home__heart-btn .content .heart {
  font-size: 1.5rem;
  margin-right: 1.5rem;
  color: var(--primary-color);
}
.home__heart-btn .content .number {
  color: var(--text-color);
}

.home__profile {
  grid-column: 1/3;
}

.home__name {
  color: var(--primary-color);
}

.home__title {
  font-size: 2rem;
  color: var(--title-color);
}

.home__subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  color: var(--text-color);
}

.home__description {
  margin-bottom: 2rem;
  color: var(--text-color);
}

/* hand waving */
.hand-wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* BUTTONS */

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
}
.button:hover {
  background-color: var(--secondary-color);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/* All Sections */

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: 1.5rem;
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* ABOUT */
.about__img {
  width: 250px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
  margin-bottom: 1.5rem;
}

.about__description {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.about__button {
  display: flex;
  justify-content: center;
}

/* SKILL */

.skill__list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 450px) {
  .skill__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-color);
}

.skill__icon {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

/* PROJECT */

.project__content {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__img-container {
  width: 265px;
  border-radius: 0.5rem;
  margin: 1.5rem auto;
  position: relative;
}

.project__img {
  display: none;
}

.project__img--mobile {
  width: 7rem;
  margin: 0 auto;
}

.project__img.active {
  display: block;
}

.project__img-icons {
  display: flex;
  width: 4rem;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -30px;
  right: -15px;
  color: var(--primary-color);
}
.project__img-icon {
  cursor: pointer;
  font-size: 1.5rem;
}
.project__img-icon:hover,
.project__img-icon:focus {
  color: var(--secondary-color);
}

.project__info {
  text-align: center;
}

.project__title {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--title-color);
}
.project__tools {
  font-size: 0.8rem;
  color: var(--primary-color);
}

.project__description {
  margin: 1rem 0 1.5rem;
  color: var(--text-color);
}

.project__button:hover .button__icon {
  transform: translateX(0.25rem);
}

/* reveals project when scrolling */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial__container {
  position: relative;
  height: 25vh;
  margin-bottom: 3rem;
}

.testimonial__content {
  padding: 1.5rem 2.5rem;
  position: absolute;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  color: var(--text-color);
}

.testimonial__content.activeTestimonial {
  opacity: 1;
  transition-delay: 0;
}

.testimonial__button {
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(50%);
  color: var(--primary-color);
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1000;
}

.testimonial__button:hover,
.testimonial__button:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

.testimonial__button--prev {
  left: -1rem;
}
.testimonial__button--next {
  right: -1rem;
}

.testimonial__button:focus {
  outline: 1px solid black;
}

.testimonial__profile {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.testimonial__profile-img-container {
  border: solid var(--primary-color) 3px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 1rem;
}

.testimonial__profile-description {
  position: relative;
}

.testimonial__profile-img {
  border-radius: 50%;
}

.testimonial__profile-img-link {
  position: relative;
  z-index: 100;
}

.testimonial__profile-name {
  font-size: 1rem;
  color: var(--text-color);
}

.testimonial__job-description {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--text-color);
}

.testimonial__social-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--primary-color);
  position: absolute;
  z-index: 100;
}

.testimonial__social-icon:hover {
  color: var(--secondary-color);
}

.testimonial__comment-container {
  margin-top: 2rem;
}

/* CONTACT */

.contact {
  margin-top: 8rem;
}

.contact__img-container {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  margin: 0 auto 2rem;
}
.contact__img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.contact__info {
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  color: var(--text-color);
}

.contact__list {
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__item {
  list-style: none;
  padding: 1rem;
}

.contact__link {
  text-decoration: none;
}

.contact__icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-color);
}
.contact__icon:hover,
.contact__icon:focus {
  color: var(--primary-color-lighter);
}

.contact__form-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contact__form {
  padding: 1.5rem;
  width: 90%;
}
.contact__input-group {
  position: relative;
  margin-bottom: 2rem;

  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact__input {
  padding: 0.7rem;
  outline: 0;
  border: 1px solid var(--primary-color);
  color: var(--title-color);
  background: transparent;
  font-size: 1rem;
}

.contact__label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5rem;
  cursor: text;
  transition: 0.2s;
  color: var(--input-color);
}

.contact__button {
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  padding: 1.5rem;
}

.contact__button:hover .button__icon {
  transform: translateX(1rem) translateY(-0.8rem);
}

.contact__input:focus ~ .contact__label,
.contact__input:valid ~ .contact__label {
  top: -35px;
  font-size: 0.8rem;
}

.contact__label .contact__icon {
  color: var(--primary-color);
  margin-right: 0.5rem;
  font-size: 1rem;
}

/* FOOTER */

.footer__bg {
  background-color: var(--primary-color);
}

.footer__container {
  row-gap: 3.5rem;
  padding: 2rem 0rem 1rem;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.footer__subtitle {
  font-size: 1rem;
  display: inline-block;
}

.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  margin: 3rem 0;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--primary-color-lighter);
}

.footer__social {
  margin-top: 1rem;
}

.footer__social-icon {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.footer__social-icon:hover,
.footer__social-icon:focus {
  color: var(--primary-color-lighter);
}

.footer__copy {
  font-size: 0.75rem;
  text-align: center;
  color: var(--text-color-light);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social-icon {
  color: #fff;
}

/* SCROLL UP */

.scroll-up {
  position: fixed;
  right: 1rem;
  bottom: -100rem;
  background-color: var(--primary-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: 10;
  transition: 0.4s;
}

.scroll-up:hover,
.scroll-up:focus {
  background-color: var(--secondary-color);
}

.scroll-up__icon {
  font-size: 1.5rem;
  color: #fff;
}

/* SHOW SCROLL-UP */

.show-scroll {
  bottom: 5rem;
}

/* MEDIA QUERIES */

/* small devices */

@media screen and (min-width: 360px) {
  html {
    font-size: 14px;
    overflow-x: hidden;
  }
  .wrapper {
    width: 75%;
  }

  .home__img-container {
    width: 17rem;
    height: 17rem;
  }

  .project__content {
    margin-bottom: 3rem;
  }

  .project__img-desktop {
    width: 12rem;
  }
  .testimonial p {
    font-size: 0.9rem;
  }

  .contact__input:focus ~ .contact__label,
  .contact__input:valid ~ .contact__label {
    font-size: 0.6rem;
    top: -1.8rem;
  }

  .contact__img-container {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin: 0 auto 2rem;
  }

  .footer__copy {
    margin-top: 3rem;
  }
}

/* medium devices */

@media screen and (min-width: 568px) {
  html {
    font-size: 15px;
  }

  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__social {
    margin-right: 1.5rem;
  }
  .home__profile {
    grid-column: initial;
  }
  .home__img-container {
    width: 14rem;
    height: 14rem;
    order: 1;
  }
  .about__container,
  .contact__container {
    grid-template-columns: 1fr 1fr;
  }

  .about__description {
    margin-left: 1rem;
  }

  .contact__label {
    font-size: 0.7rem;
    top: 0.4rem;
  }
  .contact__input:focus ~ .contact__label,
  .contact__input:valid ~ .contact__label {
    font-size: 0.6rem;
    top: -2rem;
  }

  .contact__img-container {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin: 0 auto 2rem;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .wrapper {
    width: 90%;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .nav {
    height: 5rem;
    column-gap: 1rem;
  }

  .nav .fas {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .home__content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home__img-container {
    width: 17rem;
    height: 17rem;
  }

  .about__container {
    column-gap: 5rem;
  }

  .about__img {
    width: 300px;
  }

  .about__description {
    text-align: initial;
    margin-left: 0;
  }
  .about__button {
    justify-content: initial;
  }

  .project__img-container {
    width: 25rem;
  }
  .project__img--mobile {
    width: 10rem;
  }

  .project__info {
    text-align: initial;
  }

  .testimonial__comment {
    font-size: 1.4rem;
  }

  .testimonial__button--prev {
    left: -1.5rem;
  }

  .testimonial__button--next {
    right: -1.5rem;
  }
  .contact {
    margin-top: 5rem;
  }

  .contact__img-container {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin: 0 auto 2rem;
  }

  .footer__container {
    padding-top: 3rem 0 3.5rem;
  }

  .footer__content {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    justify-content: flex-start;
    align-items: center;
  }

  .footer__list {
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__social {
    justify-content: flex-end;
  }

  .footer__copy {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .home__content {
    column-gap: 1rem;
  }
  .home__img-container {
    width: 25rem;
    height: 25rem;
    border-radius: 0;
    position: relative;
    right: 1rem;
  }
  .home__img-container::before {
    position: absolute;
    content: "";
    width: 25rem;
    height: 25rem;
    background-color: var(--primary-color);
    top: 20px;
    left: 20px;
    z-index: -1;
  }

  .home__img {
    border-radius: 0;
  }

  .home__social {
    transform: translateX(-2rem);
  }
  .about__img {
    position: relative;
    left: 50px;
    width: 350px;
    -webkit-box-shadow: -10px 20px 10px 8px var(--secondary-color);
    box-shadow: -10px 20px 10px 8px var(--secondary-color);
  }

  .project__content {
    flex-direction: row;
    column-gap: 0rem;
  }
  .project__content:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  .project__img-container {
    width: 30rem;
  }
  .project__info {
    text-align: initial;
    flex-basis: 40%;
  }

  .contact__img-container {
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    margin: 0 auto 2rem;
  }
}
